#wrap{
    position: relative;
    margin: 50px 0 20px 100px;

}

#grid {
    width: 450px;
    height: 450px;
    background-color: rgb(150, 150, 150);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
}

#grid li, .sqImg{
    float:left;
    width:100px;
    height:100px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    background-color: white;
    margin:0 10px 10px 0;
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    line-height: 100px;
}

#grid li:nth-child(-n+4){
    margin-top: 10px;
}
#grid li:nth-child(4n+1){
    margin-left: 10px;
}

.sqImg{
    position: absolute;
    z-index: 5;

    -webkit-transition: all 0.2s ease-out, opacity 0.75s ease-out;
    -moz-transition: all 0.2s ease-out, opacity 0.75s ease-out;
    -o-transition: all 0.2s ease-out, opacity 0.75s ease-out;
    transition: all 0.2s ease-out, opacity 0.75s ease-out;

}

.sqImg span{
    background-color: rgb(230, 255, 180);
    position: absolute;
    margin:auto;
    top:0;
    left: 0;
    right:0;
    bottom:0;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    font-size: 80px;
}


h2{
    font-size: 50px;
    font-weight: bold;
}


