<!DOCTYPE html>
<html ng-app="my2048">
<head lang="en">
    <meta charset="UTF-8">
    <title>2048 by Fulvio</title>

    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/style.css"/>

    <script src="lib/angular.min.js"></script>
    <script src="lib/jquery-1.11.0.min.js"></script>
    <script src="lib/jquery-ui-1.10.4.custom.js"></script>
    <script src="app/controllers/mycontroller.js"></script>
    <script src="app/services/myservice.js"></script>



</head>

<body ng-controller="myCtrl" ng-keydown="command($event);">

<div id="wrap">
    <ul id="grid" >
        <li ng-repeat="row1 in grid[0] track by $index" ng-style="{color: !!grid[0][$index] ? grid[0][$index].getColor() : 'black'}"></li>
        <li ng-repeat="row1 in grid[1] track by $index" ng-style="{color: !!grid[1][$index] ? grid[1][$index].getColor() : 'black'}"></li>
        <li ng-repeat="row1 in grid[2] track by $index" ng-style="{color: !!grid[2][$index] ? grid[2][$index].getColor() : 'black'}"></li>
        <li ng-repeat="row1 in grid[3] track by $index" ng-style="{color: !!grid[3][$index] ? grid[3][$index].getColor() : 'black'}"></li>
    </ul>
</div>

<h2 ng-style="{color: myColor}">{{howManyFilledSq}}</h2>

</body>
</html>